# .env.dist

#Ideally these values will be the pantheon site name and local path
export PROJECT_PATH=**PROJECT_PATH**
export PROJECT_NAME=**PROJECT_NAME**

# If you want to host your own versions of these containers,
# feel free to change these values.
# If you don't know what you're doing, leave them alone.
export DOCKER_IMAGE_HOST=quay.io
export DOCKER_IMAGE_ORG=demigods
export DOCKER_PROJECT_PREFIX=demigods
export DOCKER_CONTAINER_PREFIX=${DOCKER_IMAGE_HOST}/${DOCKER_IMAGE_ORG}

## container names referenced in the docker-compose.yml
## The dockerfiles are available on Github

## https://github.com/stovak/demigods-nginx
export NGINX_CONTAINER=${DOCKER_CONTAINER_PREFIX}/nginx:latest

## https://github.com/stovak/demigods-php
## export PHP_CONTAINER=${DOCKER_CONTAINER_PREFIX}/php:php-7.4
export PHP_CONTAINER=${DOCKER_CONTAINER_PREFIX}/php:php-8.0

## https://github.com/stovak/demigods-mysql
export MYSQL_CONTAINER=${DOCKER_CONTAINER_PREFIX}/mysql:latest

## https://github.com/stovak/demigods-solr
export SOLR_CONTAINER=${DOCKER_CONTAINER_PREFIX}/solr:latest

## Basic Vars
export ENV=local
export BABEL_ENV=legacy
export NODE_ENV=development

## COMPOSER
export COMPOSER_ALLOW_SUPERUSER=1

## MYSQL
## These are values INSIDE the MySQL Container
export MYSQL_ROOT_PASSWORD=wordpress
export MYSQL_USER=wordpress
export MYSQL_PASSWORD=wordpress
export MYSQL_DATABASE=wordpress

## REDIS
## Inside the redis container
export CACHE_HOST=redis
export CACHE_PORT=6379

## WORDPRESS SPECIFIC
## Inside the PHP container
export IS_LOCAL=TRUE
export SCRIPT_DEBUG=TRUE
export WP_DEBUG=TRUE
export WP_DEBUG_DISPLAY=FALSE
export WP_DEBUG_LOG=TRUE
export DB_HOST=mysql
export DB_NAME=wordpress
export DB_USER=wordpress
export DB_PASSWORD=wordpress
export DB_PORT=3306
export DB_PREFIX=wp_
export WP_HOME=localhost:8080
export AUTH_KEY=**AUTH_KEY**
export SECURE_AUTH_KEY=**SECURE_AUTH_KEY**
export LOGGED_IN_KEY=**LOGGED_IN_KEY**
export NONCE_KEY=**NONCE_KEY**
export AUTH_SALT=**AUTH_SALT**
export SECURE_AUTH_SALT=**SECURE_AUTH_SALT**
export LOGGED_IN_SALT=**LOGGED_IN_SALT**
export NONCE_SALT=**NONCE_SALT**
export PANTHEON_ENVIRONMENT=dev

## Solr settings below here. These are not used currently in WP installs.

## SOLR Container Vars
## Inside the solr container
export SOLR_HOST=solr
export SOLR_PORT=8983
export SOLR_PATH=/solr

# Pantheon SearchAPI Module Vars
# Provided for the PHP container to communicate
# with the solr container.
export PANTHEON_INDEX_HOST=solr
export PANTHEON_INDEX_PORT=8983
export PANTHEON_INDEX_PATH=/solr
export PANTHEON_INDEX_CORE=${PROJECT_NAME}
export PANTHEON_INDEX_SCHEME=http

export PANTHEON_CONFIGSERVER_HOST=${PROJECT_NAME}-zk
export PANTHEON_CONFIGSERVER_PORT=2181
